# Environment Variables

API_TOKEN=

ORCHESTRATOR_MODEL=

GEMINI_MODEL=
GEMINI_EMBEDDING_MODEL=
GEMINI_API_KEY=

MARITACA_MODEL=
MARITACA_API_KEY=

CLAUDE_MODEL=
CLAUDE_API_KEY=

OPENAI_MODEL=
OPENAI_API_KEY=

MAX_TOKENS=
TEMPERATURE=

CHROMA_HOST=
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=

CALENDAR_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=-