# Core dependencies
python-dotenv
requests

# LangChain ecosystem
langchain
langchain-core
langchain-community
# LangGraph (novo)
langgraph

# LLM providers
langchain-anthropic
langchain-openai
langchain-google-genai

# RAG
chromadb
google-genai
google-generativeai

# Others
pypdf
streamlit>=1.29.0
google-api-python-client
streamlit-google-auth