python-dotenv
requests
pydantic-settings

# LangChain ecosystem
langchain
langchain-core
langchain-community
langgraph

# LLM providers
langchain-anthropic
langchain-openai
langchain-google-genai

# RAG
chromadb
google-genai
google-generativeai

# Others
pypdf
streamlit>=1.29.0
google-api-python-client
streamlit-google-auth
beautifulsoup4
ddgs
duckduckgo-search
